* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../dist/img/image1.JPG") center top;
  background-size: cover;
}
.home__name {
  font-size: 1.8rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}
.home__name--last {
  color: #ff652f;
  font-weight: 700;
  text-transform: uppercase;
}

.last {
  transform: translate(0);
}

nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 20px;
  right: 20px;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__openMenu {
  cursor: pointer;
  top: 20px;
  right: 20px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.closeMenu {
  cursor: pointer;
  top: 20px;
  right: 20px;
  display: none;
  height: 20px;
  width: 28px;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 0;
  justify-content: flex-start;
  background-color: #272727;
  transition: all 0.5s ease-in-out;
  display: none;
  padding-right: 100px;
}

ul > li {
  list-style: none;
}

ul > li a {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 10px;
  font-family: monospace;
}

ul > li a:hover {
  color: #ff652f;
}

ul > li a:active {
  background-color: blue;
}

.about {
  padding-bottom: 2rem;
}
.about__bio-image {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../dist/img/image1.JPG") center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.about__bio-image p {
  margin-bottom: 2rem;
}
.about__bio {
  width: 80%;
  text-align: center;
}
.about__bio .text-secondary {
  padding-bottom: 1rem;
}
.about .jobs {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.about .jobs__job {
  background: #414141;
  padding: 0.5rem;
  border-bottom: 5px solid #ff652f;
}
.about .jobs__job h2,
.about .jobs__job h3 {
  margin: 0.5rem 0;
}
.about .jobs__job h6 {
  margin: 0.3rem 0;
}
.about .social-icons {
  display: flex;
  flex-direction: column;
}

footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.projects {
  padding-bottom: 2rem;
}
.projects__bio-image {
  height: 30vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../dist/img/image1.JPG") center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.projects__bio-image .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.projects__items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.projects__item {
  position: relative;
  border-bottom: 5px solid #ff652f;
  overflow: hidden;
  cursor: pointer;
}
.projects__item img {
  width: 100%;
}
.projects__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff652f;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.projects__item:hover::after {
  top: 0;
  opacity: 0.9;
}
.projects__item:hover .projects__btn {
  opacity: 1;
}
.projects__btns {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}
.projects__btn {
  opacity: 0;
  color: #000;
  transition: all 0.5s ease-in-out;
}
.projects__btn:hover {
  color: #fff;
}
.projects .social-icons {
  display: flex;
  flex-direction: column;
}

footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.contact {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../dist/img/image1.JPG") center top;
  background-size: cover;
}
.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contact__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
}
.contact .social-icons {
  position: initial;
  margin-top: 2rem;
}

body {
  background-color: #272727;
  color: #fff;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}
header .menu-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.text-secondary {
  color: #ff652f;
}

main {
  height: 100%;
  width: 100%;
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  padding: 0.4rem;
  transition: all 0.5s ease-in-out;
}

.fa-linkedin:hover {
  color: rgb(0, 110, 255);
}

.fa-twitter:hover {
  color: rgb(86, 154, 243);
}

.fa-github:hover {
  color: rgb(255, 123, 0);
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff;
}/*# sourceMappingURL=main.css.map */